
{% extends 'base.html' %}
{%block title%} Мой профиль{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2 form-group" >
    </div>
    <div class="col-md-7 form-group" >
        <p>Здравствуй, дорогой пользователь!</p>
        <p>Здесь должна была быть вся информация о тебе,
            которую ты предоставишь добровольно и которую я сам найду у тебя,
            с помощью хитрых алгоритмов.</p>
        <p>К счастью для тебя, я ещё не достаточно изучил веб-технологии. Но всё же кое-что я знаю о тебе</p>
        <p> Твой логин - {{user_name}}</p>
        <p>А твой пароль... - {{user_password}}</p>
        <p>ДА! Я ЗНАЮ ТВОЙ ПАРОЛЬ!</p>
    </div>
</div>


{% endblock %}